# Build directory
build

# Logs
logs
*.log
yarn-debug.log*
yarn-error.log*

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Dependency directories
node_modules/

# Optional REPL history
.node_repl_history

# Yarn Integrity file
.yarn-integrity
